{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'auth/login.css' %}">
    <link rel="icon" href="{% static 'auth/images/EdulensIcon.jpg' %}" type="image/jpeg">
</head>
<body>
    <div class="form-container">
    <form method="POST" autocomplete="off" class="login-form">
      {% csrf_token %}

      <h2>Login</h2>

      <label for="id_username">Username</label>
      {{ loginform.username }}

      <label for="id_password">Password</label>
      {{ loginform.password }}

<button type="submit" class="login-btn">Login</button>



      <div class="alt-link">
                <span>Don't have an account? </span>
                <a href="{% url 'register' %}">Register here</a>
            </div>
    </form>
  </div>
    
</body>
</html>